ul {
    padding: 0px;
}

li {
    list-style: none;
    color: #878787;
    font-size: 16px;
    font-weight: 100;
    padding: 0px;
    line-height: 18px;

}
h1 {
    color: #878787;
    font-weight: 100;
    font-size: 24px;
}
.temperature {
    font-weight: 400;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    margin-left: 0px;
    position: relative;
    top: -60px;
    left: 75px;
    
    
}
.unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -90px;
    margin-left: 80px;
}
