.Weather {
    font-family: 'Open Sans',
    sans-serif;
}
.weather-container {
    border: 1px solid #dad5d5;
    box-shadow: 0 7px 30px -10px rgba(235, 198, 178, 0.5),
    0 15px 40px rgba(166, 173, 201, 0.2);
    background-color: #ebc6b2;
    text-align: left;
    margin: 150px auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dad5d5;

}
